{% load staticfiles %}
<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <meta name="description" content="EroCiti, A plataforma inteligente direcionado ao entretenimento adulto. Alcance os melhores cliente do Brasil todo.">
    <!--<meta name="keywords" content="PPCI, Alvará dos bombeiros, reformas, manutenção predial, projeto hidro-sanitario, encanamentos prediais, projetos estruturais">
    <meta name="author" content="Maurice AINON, am.amauri@outlook.com"> -->

    <!-- mobile -->
    <meta property="og:title" content="EroCiti ads :: Assessoria e Marketing Pessoal.">
    <!--<meta property="og:image" content="{%  static "img/icontrex.png" %}"> -->
    <meta property="og:description" content="EroCiti, A plataforma inteligente direcionado ao entretenimento adulto. Alcance os melhores cliente do Brasil todo.">
    <meta property="og:url" content="http://ads.erociti.com">









    <title>EroCiti ads :: Assessoria e Marketing Pessoal</title>

    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/coming.css" %}">
</head>

<body data-spy="scroll" data-offset="200">



    <nav class="navbar navbar-expand-lg  fixed-top nav-two">
        <a class="navbar-brand" href="/">
            <!-- <img class="mb-3 img-fluid" src="img/Logo.png" alt="logo-image"> -->
            EroCiti ads</a>

    </nav>

{% block content %}




{% endblock %}


<div id="contact" class="justify-content-center align-items-center">

        <div class="container">
            <div class="row">


                <div class="col-md-12 mt-4 text-center">

                    <h3 class=" wow fadeInUp animated animated" style="margin-bottom: .4rem;">Nossos contatos</h3>

                </div>

                <div class="col-md-4 offset-md-4 text-center">
                    <a href="https://wa.me/555198679552" target="_blank" style="text-decoration: none;">
                        <i class="fab fa-whatsapp fa-3x"></i>
                    </a>
                    <a href="https://twitter.com/erociti" target="_blank" style="text-decoration: none;">
                        <i class="fab fa-twitter fa-3x"></i>
                    </a>
                    <a href="https://instagram.com/erociti" target="_blank" style="text-decoration: none;">
                        <i class="fab fa-instagram fa-3x"></i>
                    </a>
                </div>


            </div>
        </div>

    </div>

    <div id="footer">
        <div class="container">
            <ul class="footer-navbar">
                <!-- <li><a href="#">Home </a></li>
                <li><a href="#">About </a></li>
                <li><a href="#">Services </a></li> -->
                <!-- <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li> -->
            </ul>
            <div class="copy-text">
                EroCiti &copy; <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script> | Todos os direitos reservados. </div>
        </div>
    </div>





    <!-- scroll control -->
    <div id="topcontrol" class="topcontrol" title=""><i class="fa fa-arrow-up scrolltop"></i></div>

    <!-- End scroll control -->


    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>

    <script src="{% static "js/notify.min.js" %}"></script>
    <script src="{% static "js/countdown.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/script.js" %}"></script>
    <script src="{% static "js/scrolltopcontrol.js" %}"></script>


    <script src="{% static "js/newsletter.js" %}"></script>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143260985-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143260985-1');
</script>




</body>

</html>