{% extends "launch/base.html" %}


{% block content %}

    <style>
        .card a{
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
        }

    </style>

    <div id="main" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2 text-center">

                    <div class="card text-center" id="notif">

                        <div class="card-body">

                            <div class="alert alert-danger" role="alert">
                              <h2>PAGE NOT FOUND</h2>
                            </div>

                            <a href="/" class="btn btn-outline-danger btn-block">Voltar ao início</a>
                            
                        </div>
                    </div>

                </div>

            </div>
            
            

            </div>

        </div>



    </div>

   
{% endblock %}