
/* color 

black = #111111
blue  = #19B6EE
green = #3EB34F
red =   #ED3146
orange = #E95420

diseabled = #CDCDCD

 end color */

.wiz-dash-nav{
    background-color: #fff;
    //top: 1.5rem;
    border-bottom: .1rem solid #E95420;
}
.wiz-dash-nav .nav-link {
    text-transform: uppercase;
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
}

.wiz-dash-nav .nav-link:hover {
    color: #E95420;
}

.wiz-dash-nav .active {
    color: #E95420;
}
.wiz-dash-nav .dropdown-item {
    text-transform: uppercase;
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
}
.wiz-dash-nav .dropdown a:hover{
    color: #e95420;
}
.navbar-brand{
    color: #000;
    font-size: 1.6rem;
    font-family: 'Raleway';
    font-weight: 500;
}
.wiz-dash-nav a:hover{
    color: #000;
}
.wiz-toggler.navbar-toggler {
    border-color: #E95420;
}
.wiz-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(233,84,32, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.wiz-dash-nav .btn-outline-warning{
    //background-color: #3EB34F;
    color: #000;
}
.wiz-dash-nav .btn-outline-warning:hover{
    color: #fff !important;
}
#dash-header{
    position: relative;
    min-height: 20vh;
}

#dash{
    min-height: 100vh;
    background-color: #f7f7f7;
    padding: .5rem;
}
#dash-header h2{
    margin-top: 1.2rem
}

#dash a{
    color: #fff;
    z-index: 99;
}
.boads-item{
    //background-color: red;
    height: 30vh;
    margin-top: 1rem;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boards-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: rgba(0,0,0,.2);
    
}
.boads-item img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.boads-item h2{
    text-transform: capitalize;
}
.boads-item h2:hover{
    text-decoration: underline;
}
.boads-info{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 90%;
    bottom: 18px;
}
.ativo, .inativo{
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.ativo{
    background-color: #19B6EE;
    margin-left: 1rem;
}
.inativo{
    background-color: #ED3146;
    margin-right: 1rem;
}

.btn img{
    position: relative;
    height: 35px;
    margin-right: 1rem;
}






